* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;




    width: 90vw;
    height: 100vh;
    margin: auto;
}

.facebook_auth, #login, .login_btn, .create_btn, #facebook_reg, .reg_form > input, #gender{
    border: 1px solid #c9cacc;
    border-radius: 10px;
}


.facebook_auth {
    text-align: center;

    max-width: 400px;
    height: 400px;
}

.facebook {
    padding: 20px;
}

#login, .login_btn, .reg_form  #info{
    width: 350px;
   
    margin: 5px 0;
    padding: 15px;

    font-size: 15px;
}

.login_btn {
    margin: 20px 0 ;

    background-color: #1877F2;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.login_btn:hover {
    background-color: #1847cf;
}

.forgot {
    display: block;

    color: #1877F2;
    text-decoration: none;
    padding: 0px;
}

.forgot:hover, .terms:hover {
    text-decoration: underline;
}


.forgot::after{
    margin: 30px 0;
    content: ' ';
    display: block;
    background: #c9cacc;
    height: 2px;
}

.create_btn {
    text-decoration: none;
    background-color: #42B72A;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;

    padding: 15px;
}

.create_btn:hover {
    background-color: #42A70A;
}

#facebook_reg {
    width: 400px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.reg_form {
    margin: 20px;
}

.reg_title_h2{
    margin: 0 15px;
}

.reg_h4 {
    color: gray;
    font-weight: 500;
}

.reg_h4::after  {
    margin: 10px -20px;
    content: ' ';
    display: block;
    background: #c9cacc;
    height: 2px;
}

#name {
    width: 170px;
   
    margin: 5px 0;
    padding: 15px;

    font-size: 15px;
}

.reg_h6 {
    text-align: left;
    margin: 10px 0;
}

#b_day{
        width: 110px;

        padding: 5px;
    
        font-size: 15px;
}

#gender {
    padding: 10px;
}


.terms_rule {
    margin-top: 20px;
    font-size: 12px;
}

.terms {
    text-decoration: none;
}