* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;

    width: 90vw;
    height: 100vh;
    margin: auto;
}

#facebook_reg,
.create_btn,
.reg_form > input,
#b_day {
    border: 1px solid #c9cacc;
    border-radius: 10px;
    background-color: #eaebee;
}

#facebook_reg {
    width: 400px;
    height: 550px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.reg_form {
    margin: 20px;
}

.reg_form #info {
    width: 350px;

    margin: 5px 0;
    padding: 15px;

    font-size: 15px;
    letter-spacing: -1px;
}


.reg_title_h2, .terms_rule  {
    text-align: left;
}

.reg_h4 {
    text-align: left;
    color: gray;
    font-weight: 500;
}

.reg_h4::after {
    margin: 10px -20px;
    content: " ";
    display: block;
    background: #c9cacc;
    height: 2px;
}

#name {
    width: 170px;

    margin: 5px 0;
    padding: 15px;

    font-size: 15px;
}

.reg_h6 {
    text-align: left;
    margin: 10px 0;
}

#b_day {
    width: 110px;

    padding: 5px;

    font-size: 15px;

    background-color: white;
}

#gender {
    padding: 10px;

    border: 1px solid #c9cacc;
    border-radius: 10px;
}

.terms_rule {
    margin-top: 20px;
    font-size: 12px;
}

.terms {
    text-decoration: none;
}

.terms:hover {
    text-decoration: underline;
}

.create_btn {
    text-decoration: none;
    background-color: #42b72a;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;

    padding: 15px;
}

.create_btn:hover {
    background-color: #42a70a;
}